.starlink-page {
  background: url(./starlink-bg-1.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 670dvh;
  width: 100%;
  background-color: black;
}

/* NAVIGATION */

#starlink-logo {
  color: white;
  margin-left: 100px;
  margin-right: 5dvw;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
}

.starlink-nav-container.transparent {
  background-color: transparent;
  backdrop-filter: blur(0px);
}

.starlink-nav-container {
  display: flex;
  position: fixed;
  background-color: rgba(22, 22, 22, 0.75);
  backdrop-filter: blur(20px);
  height: 14dvh;
  width: 100dvw;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 1;
  padding-right: 5dvw;
}

.starlink-nav-container > div {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
}

.the-div-thats-moving {
  position: absolute;
  right: 40vw;
}

.the-second-moving-div {
  position: absolute;
  right: 4vw;
}

.starlink-nav-list {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.starlink-nav-list li a {
  color: white;
  font-weight: 600;
  letter-spacing: 0;
}

.starlink-pb-nav-container {
  display: flex;
  gap: 3vw;
  position: relative;
}

.pb-mobile {
  display: none;
}

.starlink-pb-nav-container p {
  font-weight: 600;
  letter-spacing: 0;
  position: relative;
}

.starlink-nav-personal::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  right: -25%;
  top: 0px;
  width: 1px;
  background-color: white;
}

.starlink-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

.starlink-hamburger img {
  width: 50%;
  height: 50%;
}

.starlink-hamburger:hover {
  cursor: pointer;
}

.starlink-dropdown,
.starlink-dropdown-hidden {
  position: absolute;
  min-height: 100dvh;
  top: 0px;
  display: flex;
  flex-direction: column !important;
  justify-content: start;
  background-color: black;
  padding-right: 1rem;
  transition: right 0.2s ease-in-out;
  width: 16vw;
  align-items: center;
  overflow-y: scroll;
  right: 4vw;
  padding-left: 1rem;
}

.starlink-dropdown button,
.starlink-dropdown-hidden button {
  color: white;
  padding: 0.5rem;
  width: fit-content;
  margin: 4dvh 0px;
  margin-right: 8vw;
}

.starlink-dropdown {
  right: -16vw;
}

.starlink-dropdown-hidden {
  right: 0px;
}

.starlink-dropdown-ul {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.starlink-dropdown-ul li {
  position: relative;
  padding: 1rem 0px;
  font-weight: 600;
  font-size: 0.9rem;
  transform: scale(1, 0.9);
}

.starlink-dropdown-ul li:hover {
  cursor: pointer;
}

.starlink-dropdown-ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.3);
}

.starlink-dropdown-ul i {
  font-size: 1.1rem;
  transform: scale(1, 1.1);
}

.screen-disabled {
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100vw;
  min-height: 100dvh;
  top: 0px;
  left: 0px;
}

.screen-not-disabled {
  display: none;
}

.starlink-dropdown-hidden ul li:nth-of-type(1) {
  display: none;
}

.starlink-dropdown-hidden ul li:nth-of-type(2) {
  display: none;
}

/* HEADER */

.starlink-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90dvh;
  background: url(./Starlink-header-img.webp);
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 14dvh;
  margin-bottom: 6dvh;
}

.starlink-header-top-text {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  height: 50%;
  font-size: 1.9rem;
  align-items: center;
  text-align: center;
  line-height: 4.7rem;
  padding-top: 1.5rem;
}

.starlink-header-top-text h1 {
  transform: scale(1, 1.2);
}

.starlink-header-top-text p {
  transform: scale(1, 1.1);
  font-weight: 200;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}

.starlink-header-top-text button {
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  margin-top: -0.8rem;
  transform: scale(1, 1.2);
}

.starlink-header-top-text button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.starlink-header-bottom-text {
  display: flex;
  height: 50%;
  max-width: 700px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  justify-content: end;
  gap: 1.5rem;
}

.starlink-header-form {
  display: flex;
  font-weight: 600;
  flex-direction: column;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 0.5rem;
  padding-bottom: 1.1rem;
}

.starlink-header-input-btn-div {
  display: flex;
  gap: 1.1rem;
  align-items: center;
}

.starlink-header-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  color: white;
  font-size: 0.9rem;
  padding-left: 2rem;
  font-weight: 600;
  height: fit-content;
  height: 89%;
  width: 70%;
  letter-spacing: 0;
  transform: scale(1, 1.2);
}

.starlink-header-input::placeholder {
  color: white;
  font-weight: 400;
}

.starlink-header-input:focus {
  border: 0;
  border: 2px solid white;
  outline: none;
}

.starlink-order-now-btn {
  background-color: white;
  font-size: 0.7rem;
  letter-spacing: 0;
  transform: scale(1, 1.1);
  height: 100%;
  font-weight: 600;
  border-radius: 5px;
  width: 35%;
  height: 50px;
}

.starlink-header-availability-btn {
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 1.6rem;
  letter-spacing: 0;
  transform: scale(1, 1.1);
}

.starlink-header-availability-btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

/* Residnetial Roam and Boat Section */

.roam-boat-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.roam-boat-pic-div {
  display: flex;
  width: 100%;
  height: 100dvh;
  gap: 1.1rem;
}

.residential-div,
.roam-div,
.boats-div {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4dvh;
  gap: 1dvh;
}

.residential-div:hover,
.roam-div:hover,
.boats-div:hover {
  cursor: pointer;
}

.residential-div h3,
.roam-div h3,
.boats-div h3 {
  font-size: 2rem;
  transform: scale(1, 1.1);
}

.residential-div p,
.roam-div p,
.boats-div p {
  font-size: 1.5rem;
  font-weight: 200;
}

.residential-div {
  background-image: url(./satellite.webp);
}

.roam-div {
  background-image: url(./roam.webp);
}

.boats-div {
  background-image: url(./boat.jpg);
}

.roam-boat-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 25dvh;
  padding-top: 5dvh;
  gap: 3dvh;
}

.roam-boat-text-container div {
  display: flex;
  align-items: center;
}

.roam-boat-text-container h3 {
  font-size: 2.6rem;
  transform: scale(1, 1.2);
}

.roam-boat-text-container button {
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 0.6rem;
  transform: scale(1, 1.25);
}

.roam-boat-text-container button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

/* CONNECTIVITY SECTION */

.connectivity-section {
  display: flex;
  width: 100%;
  height: 90dvh;
  background: url(./sunset-pic.png);
  background-size: cover;
  background-position: center;
}

.connectivity-text-div {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 550px;
  padding-top: 10dvw;
  padding-left: 3dvw;
  gap: 5dvh;
}

.connectivity-text-div h3 {
  font-size: 2.1rem;
  transform: scale(1, 1.2);
}

.connectivity-text-div p {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.3rem;
  transform: scale(1, 1.1);
}

/* GET ONLINE SECTION */

.get-online-section {
  display: flex;
  margin: 0 auto;
  max-width: 92dvw;
  margin-top: 15dvh;
  margin-bottom: 30dvh;
  height: 80dvh;
  color: white;
  background-color: black;
}

.getOnline-vid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: black;
}

.get-online-img {
  height: 100%;
}

.get-online-video {
  display: none;
  width: 50%;
}

.getOnline-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.getOnline-text-container h2 {
  font-size: 1.9rem;
  letter-spacing: 0;
  margin-bottom: 3dvh;
  transform: scale(1, 1.2);
}

.getOnline-text-container h3 {
  font-size: 1.5rem;
  letter-spacing: 0;
  margin-bottom: 2dvh;
  transform: scale(1, 1.2);
}

.getOnline-text-container div:first-of-type {
  margin-top: 7dvh;
  margin-bottom: 7dvh;
}

.getOnline-text-container p {
  font-size: 0.9rem;
  margin-bottom: 2dvh;
  font-weight: 200;
}

.getOnline-text-container button {
  color: white;
  padding: 0.5rem 3rem 0.5rem 1rem;
  margin-left: -1rem;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0;
  transform: scale(1, 1.1);
}

.getOnline-text-container button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* CONTRACTS SECTION */

.no-contracts-section {
  display: flex;
  color: white;
  padding-bottom: 20dvh;
}

.contracts-text-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding-left: 4dvw;
  padding-right: 11dvw;
}

.contracts-text-container h3 {
  font-size: 2.2rem;
  transform: scale(1, 1.1);
  margin-bottom: 4dvh;
}

.contracts-text-container p:first-of-type {
  margin-bottom: 4dvh;
}

.contracts-text-container p {
  font-size: 0.9rem;
  font-weight: 200;
  transform: scale(1, 1.1);
}

.contracts-img-container {
  display: flex;
  width: 50%;
}

.contracts-img-container img {
  width: 100%;
}

/* SPACE X SECTION */

.spaceX-section {
  background: url(./spaceX-pic.png);
  width: 100%;
  height: 100dvh;
  background-position: center;
  background-size: cover;
  color: white;
}

.spaceX-text-container {
  display: flex;
  flex-direction: column;
  padding-left: 3dvw;
  padding-top: 20dvh;
  width: 35%;
}

.spaceX-text-container h3 {
  font-size: 2.2rem;
  transform: scale(1, 1.1);
  margin-bottom: 4dvh;
}

.spaceX-text-container p {
  font-size: 0.9rem;
  font-weight: 200;
}

.spaceX-text-container button {
  color: white;
  width: fit-content;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.7rem;
  letter-spacing: 0;
  font-weight: 600;
  transform: scale(1, 1.2);
  padding: 0.5rem 0.8rem;
  margin-top: 4dvh;
}

.spaceX-text-container button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* FREE TRIAL SECTION */

.free-trial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./starlink-bg-2.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  height: 100dvh;
  color: white;
}

.free-trial-content-container {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.free-trial-content-container h3 {
  font-size: 2.6rem;
  transform: scale(1, 1.1);
  margin-bottom: 3dvh;
}

.free-trial-content-container p {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 10dvh;
}

/* FOOTER */

.starlink-footer {
  display: flex;
  background-color: black;
  height: fit-content;
  color: white;
  font-size: 0.9rem;
  justify-content: space-between;
  padding-top: 1dvw;
  padding-bottom: 2dvw;
  padding-left: 2dvw;
  padding-right: 2dvw;
  height: 15dvh;
}

.starlink-footer div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.starlink-footer-copyright-div p span,
.starlink-footer-form-div p span {
  font-weight: bold;
}

.starlink-footer-copyright-div p span:hover,
.starlink-footer-form-div p span:hover {
  cursor: pointer;
}

.starlink-footer-links {
  display: flex;
  gap: 1dvw;
  align-items: center;
}

.starlink-footer-links li {
  font-weight: bold;
}

.starlink-footer-links li:hover {
  cursor: pointer;
}

.starlink-footer-copyright-div {
  display: flex;
  gap: 1dvw;
}

.starlink-footer-form-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2dvw;
}

.starlink-footer-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  padding: 0.4rem;
}

.starlink-footer-form input:focus {
  outline: none;
  border-bottom: 2px solid white;
}

.starlink-footer-form button {
  color: white;
  font-weight: bold;
  letter-spacing: 0;
  transform: scale(1, 1.1);
  font-weight: bold;
  font-size: 0.7rem;
}

.starlink-footer-signup-div {
  display: flex;
  gap: 1dvw;
}

@media screen and (max-width: 1100px) {
  /* FOOTER */

  .starlink-footer {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-top: 2vw;
    padding-bottom: 10vw;
    max-height: 50dvh;
  }

  .starlink-footer-links {
    padding: 2rem 0px;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
  }

  .starlink-footer-copyright-div {
    flex-direction: column;
    gap: 1vw;
    padding-bottom: 2rem;
    align-items: center;
  }

  .starlink-footer-links li {
    padding: 0.5rem;
  }

  .starlink-footer-form button {
    font-size: 0.9rem;
    transform: scale(1, 1);
  }

  .starlink-footer-signup-div {
    flex-direction: column;
    gap: 2vw;
  }

  .starlink-footer-form-div {
    align-items: center;
    gap: 2dvh;
  }

  /* FREE TRIAL SECTION */

  .free-trial-content-container {
    width: 80%;
  }

  .free-trial-content-container {
    width: 80%;
  }

  /* Residnetial Roam and Boat Section */

  .roam-boat-pic-div {
    flex-direction: column;
    gap: 2dvh;
  }

  .residential-div,
  .roam-div,
  .boats-div {
    width: 100%;
    height: 30dvh;
  }

  /* HEADER */

  .starlink-header-top-text {
    padding-top: 4rem;
    font-size: 1.2rem;
    line-height: 3rem;
  }

  /* NAVIGATION */

  .starlink-nav-list {
    display: none;
  }

  .starlink-pb-nav-container {
    display: none;
  }

  #starlink-logo {
    margin: 0 auto;
  }

  .starlink-dropdown-hidden {
    width: 100dvw;
    right: 0px;
    align-items: end;
    padding-top: 10dvh;
  }

  .starlink-dropdown-hidden button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
  }

  .starlink-dropdown-hidden ul {
    gap: 1rem;
    padding-top: 2rem;
    width: 90%;
    gap: 0px;
  }

  .starlink-dropdown-hidden ul li {
    width: 100%;
    padding: 1.5rem 0;
  }

  .starlink-dropdown-hidden ul li:nth-of-type(1) {
    padding: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline;
  }

  .starlink-dropdown-hidden ul li:nth-of-type(2) {
    display: inline;
    padding: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }

  .starlink-pb-nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3rem;
    padding-left: 5vw;
  }

  .starlink-nav-personal {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }

  .starlink-dropdown-hidden ul li:last-of-type::after {
    display: none;
  }

  .pb-mobile {
    display: flex;
  }

  .pb-desktop {
    display: none;
  }

  .starlink-mobile-hidden {
    display: none;
  }

  /* CONTRACTS SECTION */

  .no-contracts-section {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .contracts-text-container {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
  }

  .contracts-img-container {
    width: 80%;
  }

  .roam-boat-text-container h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .roam-boat-text-container {
    font-size: 1rem;
  }

  .roam-boat-text-container div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .roam-boat-text-container button {
    font-size: 0.8rem;
  }

  /* GET ONLINE SECTION */

  .getOnline-text-container {
    text-align: center;
  }

  .getOnline-text-container button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }

  /* CONNECTIVITY SECTION */

  .connectivity-section {
    background-position: right;
  }
}
