:root {
  --carousel-height: 80vh;
}

.carousel {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: var(--carousel-height);
  justify-content: center;
}

.carousel-inner {
  display: flex;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 85%;
}

.carousel-slide {
  box-sizing: border-box;
  flex: 0 0 99%;
  margin: 0.5%;
  transition: transform 1s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: var(--carousel-height);
  object-fit: cover;
  object-position: top;
}

.slider-title {
  z-index: 1;
  color: white;
  font-size: 3rem;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  font-size: 20px;
  height: 98%;
  z-index: 3;
}

.carousel-button:hover {
  color: white;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.carousel-indicator {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #ff7f50;
}

@media (max-width: 768px) {
  :root {
    --carousel-height: 400px;
  }
}
