/* Home.css */
:root {
  --section-spacing: 6dvh;
  overflow-x: hidden;
}

/* HEADER */

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  background: linear-gradient(
    to top right,
    rgba(173, 216, 230, 0.6),
    rgba(11, 71, 121, 0.8)
  );
  /* took off side panels */
  padding: 0px 3dvw;
  overflow-y: hidden;
}

@keyframes stay-fadded-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80dvh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  z-index: 1;
}

.home-header-and-text-container {
  display: flex;
  justify-content: space-between;
  max-width: var(--content-width);
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 0px 3dvw;
}

.home-header-and-text-container svg {
  position: absolute;
  z-index: 3;
  color: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  left: calc(50% - 10px);
  bottom: 0px;
  padding: 0.5rem;
}

.home-header-and-text-container svg:hover {
  color: white;
  cursor: pointer;
}

.home-header-text-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50%;
  flex-direction: column;
}

.home-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding-left: 1dvw;
  position: relative;
}

.home-header-img {
  display: flex;
  position: relative;
  height: 100%;
  width: 60%;
  justify-content: center;
  align-items: end;
  overflow-y: hidden;
}

.home-header-img img {
  width: 70%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

/*
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
*/

.home-header h1 {
  font-size: 2.5rem;
  color: #ffffe0;
}

.home-header h4 {
  color: #ffffe0;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.home-header h2 {
  font-size: 2rem;
}

.home-header p {
  font-size: 1.2rem;
  color: #ffffe0;
}

@keyframes flyInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-header span {
  color: #ffd700;
  font-weight: bolder;
  font-size: 2.5rem;
  display: inline-block; /* Ensure the span behaves properly */
  animation: flyInFromLeft 1s ease-out; /* Adjust duration and easing as needed */
}

.contact-button {
  background-color: white;
  color: black;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 5px;
  letter-spacing: 0.07em;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.home-header-text a {
  margin-top: 20px;
  font-weight: 600;
}

.contact-button:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

/* BODY */

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(240, 240, 240);
  /* took off side panels */
  max-width: 100%;
  padding: 0px 3dvw;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  z-index: 5;
  margin-top: 70dvh;
  padding-top: 5dvh;
}

/* Ft section */

.ft-section {
  z-index: 5;
}

/* Body content */

.home-expertise,
.home-about,
.home-projects,
.home-contact,
.home-video-container {
  margin-bottom: var(--section-spacing);
}

.home-expertise,
.home-about,
.home-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-wrap: wrap;
  max-width: var(--content-width);
}

.home-about h2,
.home-projects h2,
.home-contact h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  line-height: 3rem;
}

.home-about p,
.home-projects p,
.home-contact p {
  font-size: 1.1rem;
  color: var(--text-color);
}

.home-expertise h2 {
  font-size: 2.5rem;
  line-height: 5rem;
  margin-top: 2rem;
}

.expertise-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 1.2rem;
  padding-top: 20px;
  letter-spacing: 0.05rem;
  justify-content: start;
}

.expertise-list li,
.responsive-design {
  display: flex;
  width: fit-content;
  height: 100px;
  background-color: white;
}

.expertise-list li,
.responsive-design {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
}

.expertise-logos,
.responsive-design img {
  width: 100%;
}

.responsive-design img {
  margin-top: -2rem;
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.responsive-design {
  flex-direction: column;
  max-width: 120px;
  text-align: center;
  gap: 0px;
}

.responsive-design p {
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-top: -1rem;
}

.home-video-container {
  display: flex;
  flex-direction: column;
  max-width: var(--content-width);
  width: 100%;
  height: 70dvh;
}

.video {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

/* Featured project section */

.ft-section {
  margin: 0 -3dvw;
}

.ft-section-heading-container {
  display: flex;
  width: 100%;
  padding: 3dvh 0px;
  margin: 0 auto;
  max-width: var(--content-width);
}

#featured-projects-heading {
  margin-top: var(--section-spacing);
  margin-bottom: 0px;
  color: black;
  font-size: 3rem;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  flex: 1 1 calc(33.333% - 20px);
  background-color: var(--background-color);
  padding: 20px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
}

.project-item h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.project-item p {
  font-size: 1rem;
  color: var(--text-color);
}

.home-contact a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.home-contact a:hover {
  text-decoration: underline;
}

/* FOOTER */

.home-page-footer {
  width: 100%;
  min-height: 40dvh;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10dvw;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 5dvh 5dvw;
  z-index: 5;
  text-align: center;
}

.footer-contact-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
  gap: 10px;
}

.footer-contact-btn {
  background: linear-gradient(
    to top right,
    rgb(142, 198, 216),
    rgba(11, 71, 121, 1)
  );
  color: white;
}

.back-to-top-btn {
  background: linear-gradient(
    to top right,
    rgb(142, 198, 216),
    rgba(11, 71, 121, 1)
  );
  color: white;
}

.footer-contact-info a {
  margin-top: 20px;
}

.footer-contact-btn-div p:first-of-type {
  margin-top: 20px;
}

@media (max-width: 1300px) {
  .home-header-circle {
    display: none;
  }
}

@media (max-width: 768px) {
  .home-header {
    flex-direction: column;
    padding: 0;
    padding-top: 10dvh;
    height: 90dvh;
    gap: 5dvw;
  }

  .home-header h1 {
    font-size: 2rem;
  }

  .home-header-text-container {
    width: 100%;
    height: 45%;
  }

  .home-header-img {
    height: 65%;
  }

  .home-header-img {
    width: 100%;
    height: 100%;
    margin-top: 2%;
  }

  .home-header-img img {
    width: 50%;
  }

  .home-header-text {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
  }

  .home-header-and-text-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }

  .home-header-img img {
    height: 100%;
  }

  .home-expertise,
  .home-about,
  .home-contact {
    padding-left: 5dvw;
    padding-right: 5dvw;
    line-height: 1.5rem;
  }

  .home-expertise h2 {
    font-size: 2rem;
    line-height: 4rem;
  }

  .home-header-and-text-container svg {
    display: none;
  }

  .navbar-toggle[aria-expanded="true"] {
    z-index: 99;
  }

  .expertise-list {
    justify-content: center;
  }

  .expertise-list li,
  .responsive-design {
    width: 100px;
    height: 100%;
  }

  .responsive-design img {
    margin-top: -1rem;
    height: 100%;
  }

  .responsive-design {
    height: 100%;
    padding-bottom: 10px;
    width: 100px;
  }

  .home-body {
    margin-top: 80dvh;
    padding-top: 5dvh;
  }

  .ft-section-heading-container {
    padding-left: 8dvw;
  }

  .ft-section-heading-container h2 {
    font-size: 2rem !important;
  }

  .footer-contact-btn-div p {
    font-size: 0.9rem;
  }
}
