:root {
  --nav-height: 7dvh;
}

/* for starlink copy*/
.navbar.transparent {
  background-color: transparent;
  backdrop-filter: blur(0px);
  background: none;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: end;
  top: 0;
  width: 100dvw;
  z-index: 99;
  height: 10dvh;
  opacity: 1 !important;

  /* navbar starlink copy below */
  background: linear-gradient(
    to top right,
    rgba(128, 0, 128, 0.7),
    rgba(255, 127, 80, 0.7)
  );
  backdrop-filter: blur(20px);
  padding-bottom: 20px;
}

.nav-content {
  display: flex;
  align-items: center;
  width: var(--content-width);
  max-width: var(--content-width);
  padding-left: 3dvw;
}

.navbar-logo {
  color: black;
  font-size: 1.3rem;
}

.navbar-links {
  display: flex;
  gap: 2vw;
  margin-left: 2vw;
}

.navbar-links a:nth-child(2) {
  display: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  z-index: 1;
  letter-spacing: 0.1rem;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 1rem;
}

.navbar-toggle .Homebar {
  width: 30px;
  height: 3px;
  margin: 3.5px 0;
  background-color: white;
}

.navbar-links a.active {
  box-shadow: 0 0.5px 0 white;
}

@media (max-width: 768px) {
  .navbar {
    z-index: 99;
    background-color: linear-gradient(
      to top right,
      rgba(128, 0, 128, 0.7),
      rgba(255, 127, 80, 0.7)
    );
  }

  .navbar.transparent {
    background: none;
    backdrop-filter: none;
  }

  .nav-content {
    position: relative;
    height: 100%;
    background: none;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -100dvh;
    height: 100dvh;
    left: 0px;
    background-color: rgba(0, 0, 0);
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
    padding: 2dvh 0;
    transition: top 0.5s ease-in-out;
    justify-content: center;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px);
  }

  .navbar-links.open {
    display: flex;
    top: 0px;
  }

  .navbar-toggle {
    display: flex;
    margin-left: 3vw;
    margin-top: 2rem;
  }

  .navbar-links a {
    color: white;
    padding: 1rem 0;
  }

  .navbar-links a.active {
    box-shadow: 0 0 0 black;
    color: #ff7f50;
  }

  .navbar-toggle {
    z-index: 99 !important;
  }

  .Homebar {
    background-color: rgb(255, 255, 255) !important;
    transition: opacity 0.1s ease 0.1s, transform 0.3s ease 0.3s,
      background-color 0.3s ease 0.3s;
  }

  .navbar-toggle[aria-expanded="true"] {
    justify-content: space-between;
  }

  .navbar-toggle[aria-expanded="false"] .Homebar:nth-child(2) {
    opacity: 1 !important;
    transition-delay: 0.4s;
  }

  .navbar-toggle[aria-expanded="true"] .Homebar:nth-child(2) {
    opacity: 0 !important;
    transition-delay: 0.3s;
  }

  .navbar-toggle[aria-expanded="true"] .Homebar:nth-child(1) {
    background-color: white !important;
    transform: rotate(-45deg) translateY(13.75px);
  }

  .navbar-toggle[aria-expanded="true"] .Homebar:nth-child(3) {
    background-color: white !important;
    transform: rotate(45deg) translateY(-13.75px);
  }
}
