.Resume-page {
  margin: 0 auto;
  padding-top: var(--nav-height);
  max-width: var(--content-width);
  width: 100%;
  min-height: 100dvh;
  padding-bottom: var(--nav-height);
}

.Resume-page h1 {
  margin-top: 2dvh;
}

.resume-list-containers {
  display: flex;
  flex-direction: column;
  gap: 2dvh;
  padding-top: 2dvh;
  padding-bottom: 2dvh;
}

.resume-title {
  font-weight: bold;
  font-size: 1.2rem;
  font-style: normal;
  letter-spacing: 0.03rem;
}

.resume-list-containers li {
  display: flex;
  flex-direction: column;
  gap: 1dvh;
}

.resume-list-containers li p:first-of-type {
  font-style: italic;
  font-size: 0.9rem;
}

.resume-details {
  padding-left: 1vw;
}
